{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaVersion": "2017",
    "sourceType": "module"
  },
  // "extends": ["eslint:recommended", "google"],
  "extends": ["google"],
  "rules": {
    "max-len": "off",
    "curly": ["error", "multi-or-nest", "consistent"],
    "arrow-parens": 0,
    "valid-jsdoc": "off",
    "require-jsdoc": "off",
    "keyword-spacing": ["error"],
    "no-console": ["error", {"allow": ["warn", "error"]}],
    "no-extra-semi": ["error"],
    "nonblock-statement-body-position": ["error", "below"]
  }
}
