* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, pre, code, h1, h2, h3, p, a, img {
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
  text-decoration: inherit;
}
html, body {
  font-size: 16px;
  font-family: "Catamaran";
  color: #221A20;
  background-color: #D0D3D8;
}
code, pre {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 14px;
}
h1, h2, h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 20px;
}
h2 {
  font-size: 25px;
}
h1 {
  font-size: 31.25px;
}
h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0;
}

select {
  font-size: inherit;
  font-family: inherit;
}
header {
  position: relative;
  width: 100%;
  max-width: 720px;
  background-image: url('bg.svg');
  background-size: cover;
  margin: 0 auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  border-bottom: 8px solid #221A20;
}

header > *:first-child {
  margin-top: 3em;
}
header > * {
  margin: 0;
  margin-right: 2vw;
}
header > *:last-child {
  margin-bottom: 2vw;
}
header > h1, header > h2 {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
}
header > h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;

}
main {
  max-width: 720px;
  margin: 0 auto;
  padding: 8px;
}
main > section {
  padding: 8px;
  margin: 48px 0;
}
main > section:first-of-type {
  margin-top: 0;
}
main > section:last-of-type {
  margin-bottom: 0;
}
code {
  display: inline-block;
  max-width: 100%;
  overflow-x: scroll;
}
code.intertext {
  vertical-align: sub;
}
.box {
  background-color: #BABEC6;
  border-radius: 2px;
}
.box--quickstart label {
    display: block;
}
#vis > div {
  margin: 24px 0;
}
#vis h1 {
  text-align: center;
}
#vis div:first-of-type {
  margin-top: 0;
}
#vis div:last-of-type {
  margin-bottom: 0;
}
#vis pre {
  border: 1px solid #221A20;
    border-radius: 2px;
  padding: 8px;
}
#quickstart .include {
  display: none;
}
#quickstart.es6 .es6, #quickstart.umd .umd, #quickstart.global .global {
  display: block;
}
.ctabutton {
  display: block;
  background-color: #E9C21D;
  margin: 8px 0;
  padding: 8px;
  border-radius: 2px;
  text-align: center;
}
.ctabutton > svg {
  height: 1em;
  vertical-align: middle;
  margin-right: 0.5em;
}

code .keyword {
  color: rgb(93, 77, 9);
}

code .function, code .class-name {
  color: rgb(93, 9, 25);
}

code .comment {
  color: rgb(9, 93, 77);
}

code .string {
  color: rgb(93, 9, 66);
}

@-webkit-keyframes appear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes appear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.realm {
  -webkit-animation: 3s appear steps(1, end) 0s 1 normal both;
          animation: 3s appear steps(1, end) 0s 1 normal both;
}

.js .realm {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}

#footer {
  font-size: 14px;
}

#footer a {
  color: rgb(93, 9, 25);
}
