:root {
  --dark-grey: #BABEC6;
  --light-grey: #D0D3D8;
  --yellow: #E9C21D;
  --black: #221A20;
  --dark-yellow: color(var(--yellow) l(20%));
  --green: color(var(--dark-yellow) hue(+120deg));
  --red: color(var(--dark-yellow) hue(-60deg));
  --purple: color(var(--dark-yellow) hue(-90deg));

  --bg-width: 2140;
  --bg-height: 1100;
  --bar-width: 616;

  --base: 8px;
  --padding-factor: 1;
  --padding: calc(var(--base) * var(--padding-factor));
  --separator-factor: calc(3 * var(--padding-factor));
  --separator: calc(var(--base) * var(--separator-factor));
  --section-factor: calc(2 * var(--separator-factor));
  --section: calc(var(--base) * var(--section-factor));
  --hero-h1-factor: 16;
  --hero-h2-factor: 5.4;

  --font-size-factor: 2;
  --headline-size-factor: 1.25;
  --code-size-factor: 1.75;
}
* {
  box-sizing: border-box;
}
html, body, pre, code, h1, h2, h3, p, a, img {
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
  text-decoration: inherit;
}
html, body {
  font-size: calc(var(--base) * var(--font-size-factor));
  font-family: "Catamaran";
  color: var(--black);
  background-color: var(--light-grey);
}
code, pre {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: calc(var(--base) * var(--code-size-factor));
}
h1, h2, h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
}
h3 {
  font-size: calc(var(--base) * var(--font-size-factor) * var(--headline-size-factor));
}
h2 {
  font-size: calc(var(--base) * var(--font-size-factor) * var(--headline-size-factor) * var(--headline-size-factor));
}
h1 {
  font-size: calc(var(--base) * var(--font-size-factor) * var(--headline-size-factor) * var(--headline-size-factor) * var(--headline-size-factor));
}
h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0;
}

select {
  font-size: inherit;
  font-family: inherit;
}
header {
  width: 100vw;
  height: calc(100vw * var(--bg-height) / var(--bg-width) );
  background-image: url('bg.svg');
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  border-bottom: var(--padding) solid var(--black);
}
header > * {
  margin: 0;
  margin-right: 2vw;
}
header > *:last-child {
  margin-bottom: 2vw;
}
header > h1, header > h2 {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: calc(var(--hero-h1-factor) * 1vw);
  line-height: calc(var(--hero-h1-factor) * 1vw);
}
header > h2 {
  font-weight: 300;
  font-size: calc(var(--hero-h2-factor) * 1vw);
  line-height: calc(var(--hero-h2-factor) * 1vw);
}
main {
  max-width: 720px;
  margin: 0 auto;
  padding: var(--padding);
}
main > section {
  padding: var(--padding);
  margin: var(--section) 0;
}
main > section:first-of-type {
  margin-top: 0;
}
main > section:last-of-type {
  margin-bottom: 0;
}
code {
  display: inline-block;
  max-width: 100%;
  overflow-x: scroll;
}
code.intertext {
  vertical-align: sub;
}
.box {
  background-color: var(--dark-grey);
  border-radius: 2px;
}
.box--quickstart label {
    display: block;
}
#vis > div {
  margin: calc(var(--padding) * 3) 0  ;
}
#vis h1 {
  text-align: center;
}
#vis div:first-of-type {
  margin-top: 0;
}
#vis div:last-of-type {
  margin-bottom: 0;
}
#vis pre {
  border: 1px solid var(--black);
    border-radius: 2px;
  padding: var(--padding);
}
#quickstart .include {
  display: none;
}
#quickstart.es6 .es6, #quickstart.umd .umd, #quickstart.global .global {
  display: block;
}
.ctabutton {
  display: block;
  background-color: var(--yellow);
  margin: var(--padding) 0;
  padding: var(--padding);
  border-radius: 2px;
  text-align: center;
}
.ctabutton > svg {
  height: 1em;
  vertical-align: middle;
  margin-right: 0.5em;
}

code .keyword {
  color: var(--dark-yellow);
}

code .function, code .class-name {
  color: var(--red);
}

code .comment {
  color: var(--green);
}

code .string {
  color: var(--purple);
}

@keyframes appear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.realm {
  animation: 3s appear steps(1, end) 0s 1 normal both;
}

.js .realm {
  opacity: 0;
  animation: none;
}

#footer a {
  color: var(--yellow);
  background-color: var(--black);
  padding: 0 0.5em;
}
